body{
    background-color: rgb(70, 82, 150);
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: none;
}
.inscription-container {
    width: 50vw;
    height: min-content;
    margin: 20px;
    background: #252561;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    user-select: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    

  }
  
  h1 {
    margin: 0px;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    
    box-shadow: inset  0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  
  
  
#submit{
  width: 96%;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(70, 82, 150);
    color: white;
}
#submit:hover{
    background-color: #0f4680;
}